body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 80%;
    height: 60%;
    padding: 10px;
    border: 5px solid white;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption-container{
    text-align: center;
}




